@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg,#323a5b,#2f1951);
    color: white;
    font-family: "Inter",sans-serif;
    min-height: 100vh;
}
header{
    font-size: 3rem;
}
header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input,form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: white;
    
}
form input{
    margin-left: 10rem;
}
form input:focus{
    border: none;
    outline: 0;
}
form button{
    color: #151414;
    background: white;
    cursor: pointer;
    /* transition: background-color 0.5s ease-in 100ms; */
    transition: color 0.5s ease-out 100ms

}
form button:hover{
    color: rgb(0, 137, 0);
}
form button:active{
    transition: none;
    background: rgb(0, 137, 0);
    color: white;
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30vh;
    list-style: none;
}
.todo{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 30px;
    /* padding: 0.3rem; */
    display: flex;
    justify-content: space-between;
    transition: all 1s ease;
}
.todo li{
    flex: 1;
}
.todo-item{
    padding: 0.5rem 1rem;
}
.completed-btn{
    background-color: rgb(0, 117, 0);
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
    /* transition: background-color 2s ease-out 100ms */
}
.completed-btn:hover{
    color: green;
    background-color: white;
    transition: all 0.5s ease-in;

}
.completed-btn:active{
    transition: none;
    background-color: green;
}
.trash-btn{
    background-color:  rgb(174, 1, 1);
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.6s ease-out;
    /* transition: background-color 2s ease-out 100ms */
}
.trash-btn:hover{
    transition: all 0.6s ease-in;
    color: rgb(174, 1, 1);
    background-color: white;
}
.trash-btn:active{
    transition: none;
    background-color:  rgb(174, 1, 1);;
}
.fa-trash,.fa-check{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
.fall{
    /* transform: rotate3d(1, 0, 0,360deg); */
    transform: translateY(5rem) rotateZ(-10deg) rotateZ(20deg);
    /* transition-duration:1s; */
    opacity: 0;
}
.fall::after{
    transform: translateY(5rem) rotateZ(-10deg) rotateZ(20deg);
    /* transition-duration:1s; */
    opacity: 0;
}
.filter-todo{
    padding: 0.469rem 0rem;
    font-size: 2rem;
    border: none;
    font-family: "Inter",sans-serif;
    background-color: transparent;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    outline: 0;
}
.filter-todo:focus{
    color: white;
    outline: 0;
    border: none;
}
.filter-todo::after{
    color: white;
    outline: 0;
    border: none;
}
option{
    background-color: #323a5b;
    font-family: "Inter",sans-serif;
    outline: 0;
    border: none;
    cursor: pointer;
}

select{
    outline: none;
    border: none;
    cursor: pointer;
}
.select::after{
    pointer-events: none;
    transition: all 1s ease;
}
.select:hover::after{
    cursor: pointer;
}









/*CUSTOM SCROLLBAR*/
/* width */
::-webkit-scrollbar {
    width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }